[submodule "submarines"]
	path = submarines
	url = https://github.com/SteMuc/submarines.git
[submodule "submodules/calibration"]
	path = submodules/calibration
	url = https://github.com/SteMuc/calibration.git
